@media screen and (max-width: 900px) { /* TABLET TRANSITIONAL */
    .header_ad {
        height: 200px;
    }
    .only_article img {
        height: 300px;
    }
    .article_title {
        font-size: 24px;
    }
    .article_text {
        font-size: 13px;
    }
    .article_author {
        font-size: 11px;
    }
    .main_article_image {
        height: 230px;
    }
    .bottom_block_article_image {
        width: 200px;
        height: 133px;
    }
    .bottom_block_article_content {
        width: calc(100% - 200px);
    }
    .no_picture {
        width: 100%;
    }
}


@media screen and (max-width: 750px) { /* LARGE MOBILE/SMALL TABLET = get rid of columns */ 
    .header_ad {
        height: 150px;
    }
    .nav_navigation_group *, .nav_account_group * {
        display: none;
    }
    .mobile_navigation_button, .mobile_account_button {
        display: block;
    }
    .ad_notice {
        font-size: 14px;
    }
    .section_title {
        font-size: 36px;
    }
    .section_date {
        font-size: 24px;
    }
    .article_title {
        font-size: 22px;
    }
    .article_text {
        font-size: 12px;
    }
    .article_author {
        font-size: 10px;
    }
    .main_article_image {
        height: 200px;
    }
    .bottom_block_article_image {
        width: 175px;
        height: 115px;
    }
    .bottom_block_article_content {
        width: calc(100% - 175px);
    }
    .no_picture {
        width: 100%;
    }
    .footer_subscribe_button {
        padding: 10px 40px;
    }
    
    
    
    
    .content_wrapper {
        margin-top: 20px;
    }
    .header_ad_container {
        padding: 20px 0;
    }
    .bottom_block_article {
        margin-top: 15px;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 680px) { /* TRANSITIONAL */
    .header_ad {
        height: 100px;
    }
    .only_article img {
        height: 230px;
    }
    .ad_notice {
        font-size: 13px;
    }
    .article_title {
        font-size: 20px;
    }
    .article_text {
        font-size: 11px;
    }
    .article_author {
        font-size: 10px;
    }
    .main_article_image {
        height: 165px;
    }
    .image_caption {
        font-size: 10px;
    }
    
    
    .content_wrapper {
        margin-top: 15px;
    }
    .header_ad_container {
        padding: 15px 0;
    }
    .bottom_block_article {
        margin-top: 10px;
        padding-bottom: 10px;
    }
}


/* NO DEVICES OCCUPY DIMENSIONS BETWEEN HERE */


@media screen and (max-width: 500px) { /* SMALL MOBILE */
    .rb_logo {
        font-size: 28px;
        width: 75%;
        opacity: 1;
    }
    .ad_notice {
        font-size: 14px;
    }
    .section_title {
        font-size: 22px;
        margin-right: 20px;
    }
    .section_date {
        font-size: 18px;
        padding-left: 20px;
    }
    .article_title {
        font-size: 28px;
    }
    .article_text {
        font-size: 16px;
        line-height: 1.2em;
    }
    .article_author {
        font-size: 15px;
    }
    .media_caption {
        font-size: 12px;
    }
    .subscribe_box_title {
        font-size: 28px;
    }
    .subscribe_box_text {
        font-size: 19px;
    }
    .subscribe_box_button {
        font-size: 14px;
        padding: 8px 40px;
    }
    
    
    
    
    .rb_logo {
        display: block;
        font-size: 32px;
    }
    .header_ad_container {
        margin-top: 20px;
    }
    .article_column, .ad_column {
        float: none;
        width: 100%;
        padding: 0;
        border: none;
    }
    .article_column_side, .article_column_main {
        float: none;
        width: 100%;
        padding: 0;
        border: none;
    }
    .main_article_image {
        height: 270px;
    }
    .hidden_image {
        display: block;
    }
    .image_container {
        margin-bottom: 15px;
    }
    .first_block_article {
        padding-bottom: 20px;
        border-bottom: 1.5px solid #DFDFDF;
    }
    .article_columns_container {
        padding-bottom: 20px;
    }
    .article_column_main {
        padding-bottom: 20px;
        border-bottom: 1.5px solid #DFDFDF;
    }
    .article_column_side {
        margin-top: 20px;
    }
    .bottom_block_article_content, .bottom_block_article_image {
        float: none;
        width: 100%;
        padding: 0;
        border: none;
    }
    .bottom_block_article_image {
        margin-top: 20px;
        height: 270px;
    }
    .bottom_block_article:last-child {
        padding-bottom: 25px;
        border-bottom: 1.5px solid #DFDFDF;
    }
    .bottom_block_ad_container {
        margin-top: 25px;
    }
    .bottom_block_ad {
        width: 35%;
    }
    .footer_column {
        float: none;
        width: 100%;
        padding: 0;
        border: none;
    }
    .footer_column:last-child {
        padding: 0;
    }
    .footer_column_label {
        display: none;
    }
    .footer_columns {
        margin-top: 15px;
    }
    .footer_list_item {
        padding: 7px 0;
        border-top: 1px #DA1A1A solid;
    }
    .last_footer_item {
        border-bottom: 1px #DA1A1A solid;
    }
    .footer_list_link {
        font-weight: 900;
    }
    .footer_subscribe_column {
        height: auto;
    }
    .footer_subscribe_button {
        position: static;
        top: auto;
        transform: none;
        padding: 10px 85px;
        margin-top: 35px;
    }
    
    
    
    
    .content_wrapper {
        margin-top: 20px;
    }
    .header_ad_container {
        padding: 20px 0;
        padding-top: 0;
    }
    .first_block {
        padding: 25px 0;
    }
    .first_block_article {
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .media_container {
        padding-bottom: 25px;
    }
    .first_block_ad_container {
        padding-top: 25px;
    }
    .news_block {
        padding: 25px 0;
    }
    .subscribe_block {
        padding: 25px 0;
    }
    .bottom_block {
        margin-top: 25px;
    }
    .bottom_block_section {
        padding-bottom: 25px;
        margin-top: 25px;
    }
    .bottom_block_article {
        margin-top: 20px;
        padding-bottom: 20px;
    }
}
